.ticket {
  box-shadow: 0rem 0.2rem 0.8rem 0rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 2rem;

  .header {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
  }

  .price {
    color: #2196f3;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0rem;
    text-align: left;
  }

  .aviacompany {
    width: 11rem;
    height: 3.6rem;
    margin-left: auto;
  }

  .body {
    display: grid;
    grid-template-columns: repeat(3, minmax(9rem, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
  }
}
