.cell {
  .descr {
    font-family: Open Sans;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    text-align: left;
    text-transform: uppercase;
    color: #a0b0b9;
  }

  .text {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0rem;
    text-align: left;
    color: #4a4a4a;
  }
}
