.list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  .error {
    margin: 0 auto;
    font-size: 1.8rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--color-price);
    color: var(--color-price);
  }
  .info {
    margin: 0 auto;
    font-size: 1.4rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--color-price);
    color: var(--color-price);
  }
}
